<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Igualdad Visible</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'imagenes/Logo.png' %}"/>
    <link rel="stylesheet" href="{% static 'estilos/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    
    {% include 'interfaz/navbar.html'%}

    {% block content %}



    {% endblock %}

</body>
</html>